*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,rgb(135, 238, 233),rgb(245, 86, 165));
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color:rgb(14, 15, 16);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 70px;
    margin-left: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background:rgb(255, 252, 69);
    color: #555;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    top:50%;
    left: 10px;
    transform: translateY(-50%);
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-image:url(https://media1.giphy.com/media/yyqOUPn5souNBSHUnU/giphy.gif?cid=6c09b952opbqhqhx1yjraylg42x36k634nxc0dfkgoqf8vh1&ep=v1_stickers_search&rid=giphy.gif&ct=s);
    background-size: cover;
    background-position: center;

}

ul li.checked{
    color: #555;
    text-decoration: underline  ;
}
ul li.checked::before{
    background-image:url(https://img.clipart-library.com/2/clip-check-mark-gif/clip-check-mark-gif-17.gif)
}
ul li span{
    position: absolute;
    right:0;
    top:5px;
    width:40px;
    height:40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}